extends layout

block content
	h1.
		Memes  Which Need Tag
	p
		a(href="/") Home
	ul
		each memes,i in showmemes.memes
			p
				h2.
					#{memes.post_message}
				img(src=memes.memes_url)
				form#formmodifyCategory(name="modifymeme" method="post",action="/modifymeme")
					input#memeTitle(type="text", placeholder="MemeTitle",name="title",size="150")
					br
					input#memesTags(type="text", placeholder="tag separate by commas",name="tags", size="100")
					input#id(type="hidden",name="id",value=memes.post_id)
					br
					select(name='memescategory')
						each category, i in showmemes.categories
							option(value=category.category_name)  #{category.category_name}
					br
					input(type="checkbox", name="deletepost", checked=false)
					br
					button#btnSubmitok(type="submit") submit	
